<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Igareg"
        tools:targetApi="31">
        <activity
            android:name=".pay"
            android:exported="false" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".fsdres"
            android:exported="false" />
        <activity
            android:name=".fsdxam"
            android:exported="false" />
        <activity
            android:name=".fsdc"
            android:exported="false" />
        <activity
            android:name=".fsd"
            android:exported="false" />
        <activity
            android:name=".datres"
            android:exported="false" />
        <activity
            android:name=".datxam"
            android:exported="false" />
        <activity
            android:name=".datc"
            android:exported="false" />
        <activity
            android:name=".dat"
            android:exported="false" />
        <activity
            android:name=".kinyares"
            android:exported="false" />
        <activity
            android:name=".kinyaxam"
            android:exported="false" />
        <activity
            android:name=".kinyac"
            android:exported="false" />
        <activity
            android:name=".kinya"
            android:exported="false" />
        <activity
            android:name=".courseres"
            android:exported="false" />
        <activity
            android:name=".coursexam"
            android:exported="false" />
        <activity
            android:name=".coursec"
            android:exported="false" />
        <activity
            android:name=".course"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>